#Python Virtual Environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

#Jupyter Notebook Auto-Saves
.ipynb_checkpoints/

#Environment Variables
.env

#OS Specific Files
.DS_Store
Thumbs.db

#IDE Specific Files
.idea/
*.swp
*.swo
.vscode/

#Package/Distribution Files
build/
dist/
*.egg-info/

#Logs
*.log
logs/
*.out
*.err

#Ignore large dataset backups (optional)
data/raw/
data/processed/
data/merged/
